:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 60rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .card-body {
      padding: 30px;
  }

  .project-row {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .project-text {
      margin: 0px 20px 0px 20px;
      font-size: 14px;
  }

  .project-image img {
      max-width: 350px;
  }

  .tech-logo-row {
      display: flex;
      padding: 5px;
  }

  .tech-logo-wrapper {
      width: 60px;
      height: 60px;
      display: flex;
      text-align: center;
      border-radius: 60px;
      background: white;
      margin-right: 5px;
      overflow: hidden;
  }

  .tech-logo {
      width: 40px;
      height: auto;
      margin: auto auto;
  }

  .tech-logo-name {
      font-size: 12px;
      width: 100%;
      text-align: center;
  }